
<div class="container">
  <header class="row">
    <div class="col-md-8 col-md-push-2">
      <!-- quelquesoit l'url de la page il ya aura toujours visible la nav bar -->
      <app-navbar></app-navbar>
    </div>
  </header>
  <section class="row">
    <div class="col-md-8 col-md-push-2">
      <!-- en fonction de l'url 
        si l'url / composant HomepageComponent
        si l'url /contact composant ContactpageComponent
      -->
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

